

#container3D
{
 position: relative;
 /*height: 1000px;*/
}

#canvas_web_gl
{
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid #ccc;
}
/*
#canvas_web_gl_H
{
  border: 1px solid #ccc;
}
*/
#overlay
{
  position: absolute;
  width: 120px;
  height:48px;
  left: 870px;
  top: 10px;
  background-color: rgba(250, 250, 250, 0.5);
  color: rgba(255, 0, 0, 1.0);
  font-family: monospace;
  border: 1px solid #ccc;
}

#canvas_usual
{
  position: absolute;
  top: 0px;
  left: 0px;
}




